table.o_section_and_note_list_view tr.o_data_row.o_is_line_section,
div.oe_kanban_card.o_is_line_section {
    font-weight: bold;
    background-color: #DDDDDD;
    text-transform: uppercase;
    text-align: center !important;

}
table.o_section_and_note_list_view tr.o_data_row.o_is_line_note,
table.o_section_and_note_list_view tr.o_data_row.o_is_line_note textarea[name="name"],
div.oe_kanban_card.o_is_line_note {
    font-style: italic;
    background-color: #F3F0F0;

}